<div style="position: relative; background-image: url(../../../images/page/CementPreparation_QTXQS.jpg); width: 835px; height: 800px;">
    <div style="position: absolute; top: 637px; left: 251px; width: 259px;">
        水泥磨主电机电流：<input id="f_5AH_I_R" type="text" style="width: 94px" />
        A
    </div>
    <div style="position: absolute; top: 624px; left: 59px; height: 1px; width: 189px;">
        辊压机<br />
        动辊电流：<input id="f_7AH_I_R" type="text" style="height: 16px; width: 87px" />
        A<br />
        定辊电流：<input id="f_8AH_I_R" type="text" style="height: 16px; width: 87px" />
        A
    </div>

    <div style="position: absolute; top: 307px; left: 25px; height: 1px; width: 203px;">
        提升机电流：<input id="M70M1_I_R" type="text" style="height: 16px; width: 87px" />
        A
    </div>
    <div style="position: absolute; top: 318px; left: 423px; height: 1px; width: 204px;">
        提升机电流：<input id="M48M_I_R" type="text" style="height: 16px; width: 87px" />
        A
    </div>
    <div style="position: absolute; top: 446px; left: 625px; height: 1px; width: 182px;">
        提升机电流：<input id="M34M_I_R" type="text" style="height: 16px; width: 66px; margin-left: 0px;" />
        A
    </div>
    <div style="position: absolute; top: 390px; left: 250px; height: 1px; width: 183px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        选粉仓<br />
        电流：<input id="M51AC_I_R" type="text" style="height: 16px; width: 87px" />
        A<br />
        转速：<input id="M51AC_S_R" type="text" style="height: 16px; width: 87px" />r/min
    </div>

    <div style="position: absolute; top: 498px; left: 148px; height: 1px; width: 162px; right: 525px;">
        仓重：<input id="W305_R" type="text" style="height: 16px; width: 87px" />
        t
    </div>
    <div style="position: absolute; top: 329px; left: 676px; height: 1px; width: 153px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        主排风机<br />
        电流：<input id="6AH_I_R" type="text" style="height: 16px; width: 87px" />
        A
    </div>
    <div style="position: absolute; top: 178px; left: 13px; height: 1px; width: 194px;">
        总量设定：<input id="SUM_SET_R" type="text" style="height: 16px; width: 87px" />
        t
    </div>
    <div style="position: absolute; top: 201px; left: 13px; height: 1px; width: 193px;">
        本月产量：<input id="ZLLJ_R5" type="text" style="height: 16px; width: 87px" />
        t
    </div>
    <div style="position: absolute; top: 224px; left: 14px; height: 1px; width: 191px;">
        本班产量：<input id="ZLLJ_R3" type="text" style="height: 16px; width: 87px" />
        t
    </div>
    <div style="position: absolute; top: 203px; left: 610px; height: 1px; width: 204px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        电收尘<br />
        入口温度：<input id="Text1" type="text" style="height: 16px; width: 87px" />
        ℃<br />
        入口压力：<input id="Text2" type="text" style="height: 16px; width: 87px" />
        Pa<br />
        出口温度：<input id="Text3" type="text" style="height: 16px; width: 87px" />
        ℃
        <br />
        出口压力：<input id="Text4" type="text" style="height: 16px; width: 87px" />
        Pa
    </div>
</div>
