<div style="position: relative; height: 830px; width: 1000px; background-image: url(../../../images/page//map.jpg); background-repeat: no-repeat; background-position: 85% center;">
    <div style="position: absolute; z-index: 10; margin-left:10px; margin-top: 5px;">当前时间：<span id="timestamp"></span></div>
    <div style="position: absolute; top: 34px; width: auto;left: 10px;">
        <table class="tablecompany">
            <tr>
                <th colspan="4" style="font-size: 35px; text-align: center; left: 16px; line-height: 36px; height: 36px;">宁夏建材集团</th>
            </tr>
            <tr>
                <td class="td">总功率(万千瓦)</td>
                <td class="td">
                    <input id="zc_nxjc总功率(KW)本年累计" class="easyui-numberbox" /></td>
                <td class="td">余热发电功率(MW)</td>
                <td colspan="3" class="td">
                    <input id="zc_nxjc余热发电功率(MW)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc煤磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">水泥磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc水泥磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc生料磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">水泥分步电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc水泥分步电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc熟料综合电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">熟料综合煤耗(Kwh)</td>
                <td class="td">
                    <input id="zc_nxjc熟料综合煤耗(Kwh)本年累计" class="easyui-numberbox" /></td>
            </tr>
        </table>
    </div>

    <div style="position: absolute; width: auto; top: 220px; left: 10px;">
        <table style="top: 302px; left: 19px;" class="tablecompany">
            <tr>
                <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">银川水泥</th>
            </tr>
            <tr>
                <td class="td">总功率(万千瓦)</td>
                <td class="td">
                    <input id="Text1" class="easyui-numberbox" /></td>
                <td class="td">余热发电功率(MW)</td>
                <td colspan="3" class="td">
                    <input id="Text85" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text2" class="easyui-numberbox" /></td>
                <td class="td">水泥磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text3" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text4" class="easyui-numberbox" /></td>
                <td class="td">水泥分步电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text5" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text6" class="easyui-numberbox" /></td>
                <td class="td">熟料综合煤耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text7" class="easyui-numberbox" /></td>
            </tr>

            <tr>
                <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">青铜峡水泥</th>
            </tr>
            <tr>
                <td class="td">总功率(万千瓦)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx总功率(KW)本年累计" class="easyui-numberbox" /></td>
                <td class="td">余热发电功率(MW)</td>
                <td colspan="3" class="td">
                    <input id="zc_nxjc_qtx余热发电功率(MW)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx煤磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">水泥磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx水泥磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx生料磨电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">水泥分步电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx水泥分步电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx熟料综合电耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
                <td class="td">熟料综合煤耗(Kwh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx熟料综合煤耗(Kwh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">中宁水泥</th>
            </tr>
            <tr>
                <td class="td">总功率(万千瓦)</td>
                <td class="td">
                    <input id="Text17" class="easyui-numberbox" /></td>
                <td class="td">余热发电功率(MW)</td>
                <td colspan="3" class="td">
                    <input id="Text16" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text18" class="easyui-numberbox" /></td>
                <td class="td">水泥磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text19" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text20" class="easyui-numberbox" /></td>
                <td class="td">水泥分步电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text21" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text22" class="easyui-numberbox" /></td>
                <td class="td">熟料综合煤耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text23" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">六盘山水泥</th>
            </tr>
            <tr>
                <td class="td">总功率(万千瓦)</td>
                <td class="td">
                    <input id="Text25" class="easyui-numberbox" /></td>
                <td class="td">余热发电功率(MW)</td>
                <td colspan="3" class="td">
                    <input id="Text24" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text26" class="easyui-numberbox" /></td>
                <td class="td">水泥磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text27" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料磨电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text28" class="easyui-numberbox" /></td>
                <td class="td">水泥分步电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text29" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text30" class="easyui-numberbox" /></td>
                <td class="td">熟料综合煤耗(Kwh/t)</td>
                <td class="td">
                    <input id="Text31" class="easyui-numberbox" /></td>
            </tr>
        </table>
    </div>
<div style="position: absolute; width: auto; top: 34px; left: 972px; float: right">
    <table style="top: 84px; left: 919px;width:410px;" class="tablecompany">
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">石嘴山水泥</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td colspan="3" class="td">
                <input id="Text73" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text74" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text75" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">天山水泥</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td class="td">
                <input id="Text33" class="easyui-numberbox" /></td>
            <td class="td">余热发电功率(MW)</td>
            <td colspan="3" class="td">
                <input id="Text34" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text35" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text36" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">生料磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text37" class="easyui-numberbox" /></td>
            <td class="td">水泥分步电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text38" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">熟料综合电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text39" class="easyui-numberbox" /></td>
            <td class="td">熟料综合煤耗(Kwh/t)</td>
            <td class="td">
                <input id="Text64" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">乌海赛马</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td class="td">
                <input id="Text40" class="easyui-numberbox" /></td>
            <td class="td">余热发电功率(MW)</td>
            <td colspan="3" class="td">
                <input id="Text41" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text42" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text43" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">生料磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text44" class="easyui-numberbox" /></td>
            <td class="td">水泥分步电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text45" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">熟料综合电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text46" class="easyui-numberbox" /></td>
            <td class="td">熟料综合煤耗(Kwh/t)</td>
            <td class="td">
                <input id="Text47" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">白银水泥</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td class="td">
                <input id="Text32" class="easyui-numberbox" /></td>
            <td class="td">余热发电功率(MW)</td>
            <td colspan="3" class="td">
                <input id="Text49" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text50" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text51" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">生料磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text52" class="easyui-numberbox" /></td>
            <td class="td">水泥分步电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text53" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">熟料综合电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text54" class="easyui-numberbox" /></td>
            <td class="td">熟料综合煤耗(Kwh/t)</td>
            <td class="td">
                <input id="Text55" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">乌海西水</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td class="td">
                <input id="Text48" class="easyui-numberbox" /></td>
            <td class="td">余热发电功率(MW)</td>
            <td colspan="3" class="td">
                <input id="Text57" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text58" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text59" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">生料磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text60" class="easyui-numberbox" /></td>
            <td class="td">水泥分步电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text61" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">熟料综合电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text62" class="easyui-numberbox" /></td>
            <td class="td">熟料综合煤耗(Kwh/t)</td>
            <td class="td">
                <input id="Text63" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <th colspan="4" style="font-size: 25px; text-align: center; height: 25px;">喀喇沁水泥</th>
        </tr>
        <tr>
            <td class="td">总功率(万千瓦)</td>
            <td class="td">
                <input id="Text56" class="easyui-numberbox" /></td>
            <td class="td">余热发电功率(MW)</td>
            <td colspan="3" class="td">
                <input id="Text65" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">煤磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text66" class="easyui-numberbox" /></td>
            <td class="td">水泥磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text67" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">生料磨电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text68" class="easyui-numberbox" /></td>
            <td class="td">水泥分步电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text69" class="easyui-numberbox" /></td>
        </tr>
        <tr>
            <td class="td">熟料综合电耗(Kwh/t)</td>
            <td class="td">
                <input id="Text70" class="easyui-numberbox" /></td>
            <td class="td">熟料综合煤耗(Kwh/t)</td>
            <td class="td">
                <input id="Text71" class="easyui-numberbox" /></td>
        </tr>
    </table>
</div>
</div>


