<!--<div style="width: auto;">-->
<div style="position: relative; height: auto; width: auto;">
    <p style="position: absolute; font: bold 45px italic; top: 0px; left: 440px; width: 522px;"><u>青铜峡水泥股份有限公司</u></p>
    <div style="position: absolute; top: 99px; width: auto; opacity: 0.8; left: 78px;">
        <p style="font-size: 35px; text-align: center; line-height: 5px;">二分厂</p>
        <table style="border-width: 1px 1px 0px 1px; border-color: black; border-style: solid;" class="tablecompany">
            <tr>
                <td class="td">总功率(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc总功率(KWh)本年累计" class="easyui-numberbox" /></td>
                <td class="td">总用电量(年累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc总用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">总用电量(日累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc总用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">总用电量(月累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc总用电量(KWh)本月累计" class="easyui-numberbox" /></td>
            </tr>
        </table>
        <table class="tablecompany">
            <tr>
                <td rowspan="19" style="font-size: 20px; width: 41px; text-align: center;" class="td">熟<br />
                    料<br />
                    生<br />
                    产<br />
                    环<br />
                    节</td>
            </tr>
            <tr>
                <td style="text-align: center;" class="td">项目指标</td>
                <td style="text-align: center;" class="td">本日合计</td>
                <td style="text-align: center;" class="td">本月累计</td>
                <td style="text-align: center;" class="td">本年累计</td>
            </tr>
            <tr>
                <td class="td">熟料用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料综合电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料综合电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料综合电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤粉消耗量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉消耗量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉消耗量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉消耗量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤耗(kg/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤耗(kg/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤耗(kg/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤耗(kg/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;生料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;生料磨用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;生料制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;生料磨电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc生料磨电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;熟料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;煤磨系统用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;烧成系统用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;熟料制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc熟料制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;烧成系统电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc烧成系统电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;煤磨系统电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤磨系统电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;煤粉制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc煤粉制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td rowspan="10" style="font-size: 20px; width: 41px; text-align: center;" class="td">水<br />
                    泥<br />
                    生<br />
                    产<br />
                    环<br />
                    节</td>
            </tr>
            <tr>
                <td class="td">水泥合计用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥合计用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥合计用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥合计用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">水泥产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">水泥电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;原料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc原料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc原料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc原料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;水泥磨用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥包装用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥包装用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥包装用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥包装用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;水泥磨电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_efc水泥磨电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
        </table>
    </div>
    <div style="position: absolute; top: 99px; width: auto; opacity: 0.8; left: 710px;">
        <p style="font-size: 35px; text-align: center; line-height: 5px;">太阳山分厂</p>
        <table style="border-width: 1px 1px 0px 1px; border-color: black; border-style: solid;" class="tablecompany">
            <tr>
                <td class="td">总功率(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys总功率(KWh)本年累计" class="easyui-numberbox" /></td>
                <td class="td">总用电量(年累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys总用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">总用电量(日累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys总用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">总用电量(月累)(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys总用电量(KWh)本月累计" class="easyui-numberbox" /></td>
            </tr>
        </table>
        <table class="tablecompany">
            <tr>
                <td rowspan="19" style="font-size: 20px; width: 41px; text-align: center;" class="td">熟<br />
                    料<br />
                    生<br />
                    产<br />
                    环<br />
                    节</td>
            </tr>
            <tr>
                <td style="text-align: center;" class="td">项目指标</td>
                <td style="text-align: center;" class="td">本日合计</td>
                <td style="text-align: center;" class="td">本月累计</td>
                <td style="text-align: center;" class="td">本年累计</td>
            </tr>
            <tr>
                <td class="td">熟料用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">熟料综合电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料综合电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料综合电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料综合电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤粉消耗量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉消耗量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉消耗量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉消耗量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">煤耗(kg/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤耗(kg/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤耗(kg/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤耗(kg/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">生料产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;生料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;生料磨用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;生料制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;生料磨电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys生料磨电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;熟料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;煤磨系统用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;烧成系统用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;熟料制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys熟料制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;烧成系统电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys烧成系统电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;煤磨系统电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤磨系统电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;煤粉制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys煤粉制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td rowspan="10" style="font-size: 20px; width: 41px; text-align: center;" class="td">水<br />
                    泥<br />
                    生<br />
                    产<br />
                    环<br />
                    节</td>
            </tr>
            <tr>
                <td class="td">水泥合计用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥合计用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥合计用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥合计用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">水泥产量(t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥产量(t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥产量(t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥产量(t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">水泥电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;原料制备用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys原料制备用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys原料制备用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys原料制备用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;水泥磨用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥包装用电量(KWh)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥包装用电量(KWh)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥包装用电量(KWh)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥包装用电量(KWh)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;水泥制备电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥制备电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
            <tr>
                <td class="td">&nbsp;&nbsp;&nbsp;&nbsp;水泥磨电耗(KWh/t)</td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨电耗(KWh/t)本日合计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨电耗(KWh/t)本月累计" class="easyui-numberbox" /></td>
                <td class="td">
                    <input id="zc_nxjc_qtx_tys水泥磨电耗(KWh/t)本年累计" class="easyui-numberbox" /></td>
            </tr>
        </table>
    </div>
</div>

