<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 770px;overflow:hidden;">
    <div style="position: absolute; z-index: 10; margin-left:10px; margin-top: 5px;">当前时间：<span id="timestamp"></span></div>
    <div>
        <p style="text-align: center; font-size: 30px;">3#原料制备能耗监控图</p>
    </div>
    <div class="divBorder" style="position: absolute; top: 221px; left: 11px; width: 150px; bottom: 558px;">
        台时：<input class="easyui-numberbox" id="AFEED_TOTF"  style="width: 63px" />
        t/h
    </div>
    <div class="divBorder" style="position: absolute; top: 455px; left: 388px;">
        <table>
            <tr>
                <td>提升机电流：</td>
            </tr>
            <tr>
                <td>
                    <input class="easyui-numberbox" id="AI1_211_10"  style="width: 63px" />A</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 455px; left: 605px;">
        <table>
            <tr>
                <td>提升机电流：</td>
            </tr>
            <tr>
                <td>
                    <input class="easyui-numberbox" id="AI1_220_01_1"  style="width: 63px" />A</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 110px; left: 428px;">
        <table>
            <tr>
                <td colspan="2">循环风机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_211_04"  style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A061Power"  style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 110px; left: 678px;">
        <table>
            <tr>
                <td colspan="2">尾排风机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_230_05"  style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A066Power"  style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 383px; left: 170px;">
        <table>
            <tr>
                <td colspan="2">选粉机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_211_02G1"  style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>转速：</td>
                <td>
                    <input class="easyui-numberbox" id="AO1_211_02G1"  style="width: 63px" />r/min</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">入磨提升机电流</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI2_127_09"  style="width: 63px" />A</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">主电机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_211_02"  style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A062Power"  style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 636px; left: 454px;">
        <table>
            <tr>
                <td colspan="2">增湿塔</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23002T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23002P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23002T02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23002P02" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 636px; left: 650px;">
        <table>
            <tr>
                <td colspan="2">电收尘</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23004T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23004P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23004T02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_23004P02" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 639px; left: 25px;">
        <table>
            <tr>
                <td colspan="2">磨机</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">进口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_21102T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">进口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_21102P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_21102T02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_21102P03" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>
</div>
