<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div style="position: absolute; top: 131px; left: 13px; width: 240px;">
        给定：<input id="TOTAL_SET" type="text" style="width: 94px" />
        t<br />
        台时：<input id="AFEED_TOTF" type="text" style="width: 94px" />
        t/h
    </div>
    <div style="position: absolute; top: 641px; left: 327px; width: 259px;">
        生料磨主电机电流：<input id="AI1_211_02" type="text" style="width: 94px" />
        A
    </div>
    <div style="position: absolute; top: 576px; left: 175px; width: 246px; height: 20px;">
        入磨提升机电流：<input id="AI2_127_09" type="text" style="width: 94px" />
        A
    </div>

    <div style="position: absolute; top: 284px; left: 393px; width: 201px;">
        提升机电流：<input id="AI1_211_10" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 289px; left: 627px; width: 201px;">
        提升机电流：<input id="AI1_220_01_1" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 193px; left: 336px; width: 213px;">
        循环风机电流：<input id="AI1_211_04" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 192px; left: 615px; width: 213px;">
        尾排风机电流：<input id="AI1_230_05" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 488px; left: 175px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        选粉机<br />
        电流：<input id="AI1_211_02G1" type="text" style="width: 82px" />
        A<br />
        转速：<input id="AO1_211_02G1" type="text" style="width: 82px" />
        r/min
    </div>
    <div style="position: absolute; top: 676px; left: 450px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        增湿塔<br />
        入口温度：<input id="AI1_23002T01" type="text" style="width: 82px" />
        ℃<br />
        入口压力：<input id="AI1_23002P01" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="AI1_23002T02" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="AI1_23002P02" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 674px; left: 641px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       电收尘<br />
        入口温度：<input id="AI1_23004T01" type="text" style="width: 82px" />
        ℃<br />
        入口压力：<input id="AI1_23004P01" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="AI1_23004T02" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="AI1_23004P02" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 674px; left: 260px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       磨机<br />
        进口温度：<input id="AI1_21102T01" type="text" style="width: 82px" />
        ℃<br />
        进口压力：<input id="AI1_21102P01" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="AI1_21102T02" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="AI1_21102P03" type="text" style="width: 82px" />
        Pa<br />
    </div>
</div>

