<div style="position: relative; background-image: url('../../../images/page/CoalPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 459px; left: 171px; width: 75px;">
        <input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="F_43000L01" type="text" style="width: 63px" />m
    </div>

    <div class="divBorder" style="position: absolute; top: 591px; left: 22px; width: 173px;">
        给料机<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AO1_430_02" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F_430_02PUL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 570px; left: 550px; width: 173px;">
        分解炉喂煤量<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AO1_431_12" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F_431_12TOL_M" type="text" style="width: 63px" />
        t
    </div>
    <div class="divBorder" style="position: absolute; top: 636px; left: 550px; width: 173px;">
        窑头喂煤量<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AO1_431_11" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F_431_11TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 677px; left: 360px; width: 130px;">
        煤磨主电机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_430_04" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 151px; left: 680px; width: 128px;">
        煤粉通风机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_430_10" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 608px; left: 360px; width: 147px;">
        选粉机<br />
        电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI2_43004M12" type="text" style="width: 63px" />
        A<br />
        转速：<input  class="easyui-numberbox" data-options="precision:2" id="AO1_43004M12" type="text" style="width:63px" />rpm<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 500px; left: 475px; width: 87px;">
        <input  class="easyui-numberbox" data-options="precision:2" id="F_43108T01" type="text" style="width: 63px" />
        ℃<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 500px; left: 709px; width: 90px;">
        <input  class="easyui-numberbox" data-options="precision:2" id="F_43107T01" type="text" style="width: 63px" />
        ℃<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 79px; left: 482px; width: 186px;">
        电收尘<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="F_43007T01" type="text" style="width:63px" />
        ℃<br />
        入口压力：<input  class="easyui-numberbox" data-options="precision:2" id="F_43007P01" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="F_43007T02" type="text" style="width:63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="F_43007P02" type="text" style="width:63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 678px; left: 22px; width: 187px;">
       
       磨机<br />
        进口温度：<input  class="easyui-numberbox" data-options="precision:2" id="F_43004T01" type="text" style="width: 63px" />
        ℃<br />
        进口压力：<input  class="easyui-numberbox" data-options="precision:2" id="F_43004P01" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="F_43004T02" type="text" style="width:63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="F_43004P02" type="text" style="width: 63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 704px; left: 550px; width: 187px;">
        罗茨风机电流<br />
        窑头喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_431_13" type="text" style="width:63px" />
        A<br />
        窑尾喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_431_15" type="text" style="width: 63px" />
        A<br />
        备用喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_431_14" type="text" style="width: 63px" />
        A
    </div>
</div>
