<div style="position: relative; background-image: url('../../../images/page/overview.jpg'); width: 835px; height: 800px;">
  

    <div class="divBorder" style="position: absolute; top: 301px; left: 149px; width: 139px;">
        煤磨主电机电流：<br />
        &nbsp;
        <input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="AI1_430_04" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 108px; left: 118px; width: 131px;">
        煤粉通风机电流：<br />
        &nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_430_10" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 549px; left: 554px; width: 166px;">
        入窑生料<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AFEED_TOTF" type="text" style="width: 63px" />
        t/h<br />
      
    </div>

    <div class="divBorder" style="position: absolute; top: 454px; left: 525px; width: 144px;">
        生料磨主电机电流：<br />
        &nbsp;&nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_02" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 271px; left: 315px; width: 113px;">
        循环风机电流：<br />
        &nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_04" type="text" style="width: 63px" />
        A  
        <br />
        尾排风机电流：<br />
        &nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_230_05" type="text" style="width: 63px" />
        A
    </div>


    <div class="divBorder" style="position: absolute; top: 731px; left: 361px; width: 139px;">
        窑主电机<br />
        电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_320_01" type="text" style="width: 63px" />
        A<br />
        转速：<input  class="easyui-numberbox" data-options="precision:2" id="AO1_320_01" type="text" style="width: 63px" />rpm
    </div>
    <div class="divBorder" style="position: absolute; top: 430px; left: 26px; width: 130px;">
        窑头排风机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_330_17" type="text" style="width: 63px" />
        A<br />
        <br />
        高温风机电流：<br />
         工频电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI3_230_01AR1" type="text" style="width: 63px" />
        A<br />
        变频电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_230_01AR1" type="text" style="width: 63px" />
        A
    </div>


    <div class="divBorder" style="position: absolute; top: 667px; left: 195px; width: 160px;">
        分解炉喂煤量<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AO1_431_12" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F_431_12TOL_M" type="text" style="width: 63px" />
        t
    </div>
    <div class="divBorder" style="position: absolute; top: 735px; left: 192px; width: 160px;">
        窑头喂煤量<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2" id="AO1_431_11" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F_431_11TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 708px; left: 6px; width: 186px;">
        C1出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C1T01" type="text" style="width: 63px" />
        ℃<br />
        C1出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C1P01" type="text" style="width: 63px" />
        Pa<br />
        C5出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C5P01" type="text" style="width: 63px" />
        ℃<br />
        C5出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C5T01" type="text" style="width: 63px" />
        Pa<br />

    </div>
    <div class="divBorder" style="position: absolute; top: 614px; left: 550px; width: 224px;">
       
                <table style="width:220px;border:0px;margin:0px;padding:0px;border-collapse:collapse;">
                <tr>
                    <td colspan="2" style="font-size:25px;text-align:center;">3#熟料线</td>
                </tr>
                <tr style="font-size:14px;">
                    <td style="width:45%;">总功率:</td>
                    <td>
                        <input  class="easyui-numberbox" data-options="precision:2" id="Text7" type="text" style="width: 63px" />  KW
                    </td>
                </tr>
                 <tr style="font-size:14px;">
                    <td>生料磨电耗:</td>
                    <td>
                        <input  class="easyui-numberbox" data-options="precision:2" id="Text8" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
               
                <tr style="font-size:14px;">
                    <td >煤磨电耗:</td>
                    <td>
                       <input  class="easyui-numberbox" data-options="precision:2" id="Text9" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                <tr style="font-size:14px;">
                    <td >熟料综合电耗:</td>
                    <td>
                        <input  class="easyui-numberbox" data-options="precision:2" id="Text10" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                 <tr style="font-size:14px;">
                    <td>熟料综合煤耗:</td>
                    <td>
                       <input  class="easyui-numberbox" data-options="precision:2" id="Text11" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                
                 <tr style="font-size:14px;">
                    <td >余热发电功率:</td>
                    <td>
                       <input  class="easyui-numberbox" data-options="precision:2" id="Text12" type="text" style="width: 63px" />MW
                    </td>
                </tr>
           </table>
    </div>

</div>
