<div style="position: relative; background-image: url('../../../images/page/CoalPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div style="position: absolute; top: 444px; left: 14px; width: 184px;">
        原煤仓料位：<input id="v1_F_43000L01" type="text" style="width: 70px" />m
    </div>

    <div style="position: absolute; top: 469px; left: 14px; width: 173px;">
        &nbsp;给料机<br />
        流 量：
        <input id="v1_AO1_430_02" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v1_F_430_02PUL_M" type="text" style="width: 75px" />
        t
    </div>

    <div style="position: absolute; top: 616px; left: 354px; width: 173px;">
        分解炉喂煤量<br />
        流 量：
        <input id="v1_AO1_431_12" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v1_F_431_12TOL_M" type="text" style="width: 75px" />
        t
    </div>
    <div style="position: absolute; top: 617px; left: 652px; width: 173px;">
        窑头喂煤量<br />
        流 量：
        <input id="v1_AO1_431_11" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v1_F_431_11TOL_M" type="text" style="width: 75px" />
        t
    </div>

    <div style="position: absolute; top: 774px; left: 256px; width: 247px;">
        煤磨主电机电流：<input id="v1_AI1_430_04" type="text" style="width: 94px" />
        A
    </div>

    <div style="position: absolute; top: 160px; left: 607px; width: 215px;">
        煤粉通风机电流：<input id="v1_AI1_430_10" type="text" style="width: 69px" />
        A
    </div>
    <div style="position: absolute; top: 606px; left: 13px; width: 202px;">
        选粉机<br />
        电流：<input id="v1_AI2_43004M12" type="text" style="width: 82px" />
        A<br />
        转速：<input id="v1_AO1_43004M12" type="text" style="width: 82px" />rpm<br />
    </div>

    <div style="position: absolute; top: 423px; left: 367px; width: 202px;">
        煤粉仓温度：<input id="v1_F_43108T01" type="text" style="width: 82px" />
        ℃<br />
    </div>

    <div style="position: absolute; top: 426px; left: 619px; width: 202px;">
        煤粉仓温度：<input id="v1_F_43107T01" type="text" style="width: 82px" />
        ℃<br />
    </div>
    <div style="position: absolute; top: 161px; left: 332px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       电收尘<br />
        入口温度：<input id="v1_F_43007T01" type="text" style="width: 82px" />
        ℃<br />
        入口压力：<input id="v1_F_43007P01" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v1_F_43007T02" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v1_F_43007P02" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 688px; left: 10px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       磨机<br />
        进口温度：<input id="v1_F_43004T01" type="text" style="width: 82px" />
        ℃<br />
        进口压力：<input id="v1_F_43004P01" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v1_F_43004T02" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v1_F_43004P02" type="text" style="width: 82px" />
        Pa<br />
    </div>

    <div style="position: absolute; top: 704px; left: 552px; width: 187px;">
        罗茨风机电流<br />
        窑头喂煤：<input id="v1_AI1_431_13" type="text" style="width: 69px" />
        A<br />
        窑尾喂煤：<input id="v1_AI1_431_15" type="text" style="width: 69px" />
        A<br />
        备用喂煤：<input id="v1_AI1_431_14" type="text" style="width: 69px" />
        A
    </div>
</div>
