<div style="position: relative; background-image: url('../../../images/page/ClinkerPreparation_QTXQS_dan.jpg'); width: 835px; height: 770px;overflow:hidden;">
    <div>
        <p style="text-align: center; font-size: 30px;">3#熟料制备能耗监控图</p>
    </div>
    <div class="divBorder" style="position: absolute; top: 484px; left: 15px;">
        <table>
            <tr>
                <td colspan="2">入窑生料</td>
            </tr>
            <tr>
                <td>流量：</td>
                <td>
                    <input class="easyui-numberbox" id="AFEED_TOTF" style="width: 63px" />t/h</td>
            </tr>
            <tr>
                <td>计量仓：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_221_01" style="width: 63px" />t</td>
            </tr>

            <tr>
                <td style="text-align: left" class="auto-style1">C1出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310C1T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">C1出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310C1P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">C5出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310C5P01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">C5出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310C5T01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">二次风温：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_33001T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">二次风压：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_33001P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">三次风温：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310CPP02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">三次风压：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310CPT02" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 120px; left: 104px;">
        <table>
            <tr>
                <td>提升机电流：</td>
            </tr>
            <tr>
                <td>
                    <input class="easyui-numberbox" id="AI1_221_11_1" style="width: 63px" />A</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 608px; left: 311px; width: 167px;">
        <table>
            <tr>
                <td colspan="2">窑主电机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_320_01" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>窑转速：</td>
                <td>
                    <input class="easyui-numberbox" id="AO1_320_01" style="width: 63px" />rpm</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">窑尾烟室</td>
            </tr>
            <tr>
                <td>温度：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_31001T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td>压力：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_31001P01" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 120px; left: 461px;">
        <table style="width: 100%;">
            <tr>
                <td colspan="2">高温风机</td>
            </tr>
            <tr>
                <td style="text-align: left">工频电流:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI3_230_01AR1" style="width: 63px" />
                    A</td>

            </tr>
            <tr>
                <td style="text-align: left">变频电流:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_230_01AR1" style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td style="text-align: left">功率:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="A064Power" style="width: 63px" />
                    KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 394px; left: 20px;">
        <table>
            <tr>
                <td colspan="2">分解炉</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310CPT01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AI1_310CPP01" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 380px; left: 675px;">
        <table>
            <tr>
                <td colspan="2">窑头排风机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_330_17" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A087Power" style="width: 63px" />KW</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">冷却风机电流</td>
            </tr>
            <tr>
                <td>#1：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_330_20" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>#2：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_330_21" style="width: 63px" />A</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 701px; left: 674px;">
        <table>
            <tr>
                <td>熟料破碎机电流</td>
            </tr>
            <tr>
                <td>
                    <input class="easyui-numberbox" id="AI1_330_02C" style="width: 63px" />A</td>
            </tr>
        </table>
    </div>
</div>
