<div style="position: relative; background-image: url('../../../images/page/ClinkerPreparation_QTXQS_dan.jpg'); width: 835px; height: 800px;">

    <div class="divBorder" style="position: absolute; top: 431px; left: 22px; width: 173px;">
        入窑生料<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="AFEED_TOTF" type="text" style="width: 63px" />
        t/h<br />
        计量仓：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_221_01" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 137px; left: 101px; width: 98px;">
        提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_221_11_1" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 647px; left: 225px; width: 167px;">
        窑主电机<br/>
        电 流：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_320_01" type="text" style="width: 63px" />
        A<br/>
        窑转速:<input  class="easyui-numberbox" data-options="precision:2" id="AO1_320_01" type="text" style="width: 63px" />
        rpm
    </div>

    <div class="divBorder" style="position: absolute; top: 510px; left: 22px; width: 187px;">
        C1出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C1T01" type="text" style="width: 63px" />
        ℃<br />
        C1出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C1P01" type="text" style="width: 63px" />
        Pa<br />
        C5出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C5P01" type="text" style="width: 63px" />
        ℃<br />
        C5出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310C5T01" type="text" style="width: 63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 123px; left: 353px; width: 172px;">
        高温风机<br />
        工频电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI3_230_01AR1" type="text" style="width: 63px" />
        A<br />
        变频电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_230_01AR1" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 721px; left: 225px; width: 146px;">
        窑尾烟室<br />
        温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_31001T01" type="text" style="width: 63px" />
        ℃<br />
        压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_31001P01" type="text" style="width: 63px" />
        Pa<br />
    </div>
  

    <div class="divBorder" style="position: absolute; top: 612px; left: 22px; width: 170px; height: 91px;">
        二次风温：<input  class="easyui-numberbox" data-options="precision:2" id="F_33001T01" type="text" style="width: 63px" />
        ℃<br />
        二次风压：<input  class="easyui-numberbox" data-options="precision:2" id="F_33001P01" type="text" style="width: 63px" />
        Pa<br />
        三次风温：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310CPP02" type="text" style="width: 63px" />
        ℃<br />
        三次风压：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310CPT02" type="text" style="width: 63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 721px; left: 22px; width: 180px;">
        分解炉<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310CPT01" type="text" style="width:63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_310CPP01" type="text" style="width:63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 381px; left: 675px; width: 130px;">
        窑头排风机电流：<br />
        &nbsp;&nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_330_17" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 437px; left: 675px; width: 134px; height: 61px;">
        冷却风机电流<br />
        #1：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_330_20" type="text" style="width: 63px" />
        A<br />
        #2：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_330_21" type="text" style="width: 63px" />
        A<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 517px; left: 675px; width: 130px;">
        熟料破碎机电流：<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_330_02C" type="text" style="width: 63px" />
        A
    </div>
</div>
