<div style="position: relative; background-image: url('../../../images/page/CoalPreparation_QTXQS.jpg'); width: 831px; height: 770px;overflow:hidden;">
    <div>
        <p style="text-align: center; font-size: 30px;">3#煤磨制备能耗监控图</p>
    </div>
    <div class="divBorder" style="position: absolute; top: 445px; left: 272px; width: 59px;">
        <input class="easyui-numberbox" id="F_43000L01" style="width: 46px" />m
    </div>

    <div class="divBorder" style="position: absolute; top: 386px; left: 16px;">
        <table style="width: 100%;">
            <tr>
                <td colspan="2">给料机</td>
            </tr>
            <tr>
                <td style="text-align: left">流量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AO1_430_02" style="width: 63px" />t/h</td>

            </tr>
            <tr>
                <td style="text-align: left">累计量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_430_02PUL_M" style="width: 63px" />
                    t</td>
            </tr>

            <tr>
                <td colspan="2">选粉机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI2_43004M12" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>转速：</td>
                <td>
                    <input class="easyui-numberbox" id="AO1_43004M12" style="width: 63px" />rpm</td>
            </tr>
            <tr>
                <td colspan="2">罗茨风机功率</td>
            </tr>
            <tr>
                <td>窑头喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="A096Power" style="width: 63px" />KW</td>
            </tr>
            <tr>
                <td>窑尾喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="A097Power" style="width: 63px" />KW</td>
            </tr>
            <tr>
                <td>备用喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="A094Power" style="width: 63px" />KW</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">磨机</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">进口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43004T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">进口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43004P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43004T02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43004P02" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 513px; left: 498px;">
        <table style="width: 100%;">
            <tr>
                <td colspan="2">分解炉喂煤量</td>
            </tr>
            <tr>
                <td style="text-align: left">流量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AO1_431_12" style="width: 63px" />t/h</td>

            </tr>
            <tr>
                <td style="text-align: left">累计量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_431_12TOL_M" style="width: 63px" />
                    t</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">窑头喂煤量</td>
            </tr>
            <tr>
                <td style="text-align: left">流量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="AO1_431_11" style="width: 63px" />t/h</td>

            </tr>
            <tr>
                <td style="text-align: left">累计量:</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_431_11TOL_M" style="width: 63px" />
                    t</td>
            </tr>
            <tr style="line-height: 2px;">
                <td>&nbsp;</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">罗茨风机电流</td>
            </tr>
            <tr>
                <td>窑头喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_431_13" style="width: 63px" />KW</td>
            </tr>
            <tr>
                <td>窑尾喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_431_15" style="width: 63px" />KW</td>
            </tr>
            <tr>
                <td>备用喂煤：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_431_14" style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 681px; left: 260px;">
        <table>
            <tr>
                <td colspan="2">主电机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_430_04" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A090Power" style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 81px; left: 651px;">
        <table>
            <tr>
                <td colspan="2">煤磨排风机</td>
            </tr>
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="AI1_430_10" style="width: 63px" />A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A089Power" style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>    

    <div class="divBorder" style="position: absolute; top: 444px; left: 504px; width: 87px;">
        <input class="easyui-numberbox" id="F_43108T01" style="width: 63px" />
        ℃<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 442px; left: 736px; width: 90px;">
        <input class="easyui-numberbox" id="F_43107T01" style="width: 63px" />
        ℃<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 71px; left: 273px;">
        <table>
            <tr>
                <td colspan="2">电收尘</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43007T01" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">入口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43007P01" style="width: 63px" />Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43007T02" style="width: 63px" />℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox" id="F_43007P02" style="width: 63px" />Pa</td>
            </tr>
        </table>
    </div>

</div>
