<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 237px; left: 8px; width: 150px; bottom: 542px;">
        台时：<input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="AFEED_TOTF" type="text" style="width: 63px" />
        t/h
    </div>
    <div class="divBorder" style="position: absolute; top: 589px; left: 175px; width: 147px;">
        生料磨主电机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_02" type="text" style="width:63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 194px; left: 8px; width: 130px; height: 20px;">
        入磨提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI2_127_09" type="text" style="width:63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 494px; left: 388px; width: 96px;">
        提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_10" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 494px; left: 589px; width: 96px;">
        提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_220_01_1" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 190px; left: 446px; width: 106px;">
        循环风机电流:<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_04" type="text" style="width:63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 190px; left: 643px; width: 108px;">
        尾排风机电流:<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="AI1_230_05" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 526px; left: 175px; width: 164px;">
        选粉机<br />
        电流：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_211_02G1" type="text" style="width: 63px" />
        A<br />
        转速：<input  class="easyui-numberbox" data-options="precision:2" id="AO1_211_02G1" type="text" style="width:63px" />
        r/min
    </div>
    <div class="divBorder" style="position: absolute; top: 675px; left: 442px; width: 186px;">
        增湿塔<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23002T01" type="text" style="width:63px" />
        ℃<br />
        入口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23002P01" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23002T02" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23002P02" type="text" style="width:63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 675px; left: 641px; width: 186px;">
        电收尘<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23004T01" type="text" style="width: 63px" />
        ℃<br />
        入口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23004P01" type="text" style="width:63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23004T02" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_23004P02" type="text" style="width: 63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 675px; left: 241px; width: 186px;">
        磨机<br />
        进口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_21102T01" type="text" style="width:63px" />
        ℃<br />
        进口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_21102P01" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_21102T02" type="text" style="width:63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="AI1_21102P03" type="text" style="width: 63px" />
        Pa<br />
    </div>
</div>