<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div style="position: absolute; top: 191px; left: 9px; width: 240px;">
        总量给定：<input id="v1_TOTAL_SET" type="text" style="width: 94px" />
        t<br />
        总量反馈：<input id="v1_AFEED_TOTF" type="text" style="width: 94px" />
        t
    </div>
    <div style="position: absolute; top: 606px; left: 161px; width: 259px;">
        生料磨主电机电流：<input id="v1_B49M_CUN_M" type="text" style="width: 94px" />
        A
    </div>
    <div style="position: absolute; top: 582px; left: 161px; width: 259px;">
        入磨提升机电流：&nbsp;
        <input id="v1_B29AC_CUN_M" type="text" style="width: 94px" />
        A
    </div>

    <div style="position: absolute; top: 288px; left: 387px; width: 201px;">
        提升机电流：<input id="v1_B10M_CUN_M" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 289px; left: 627px; width: 201px;">
        提升机电流：<input id="v1_B4M_CUN_M" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 193px; left: 336px; width: 213px;">
        循环风机电流：<input id="v1_B52M_CUN_M" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 192px; left: 615px; width: 213px;">
        尾排风机电流：<input id="v1_B20M_CUN" type="text" style="width: 82px" />
        A
    </div>
    <div style="position: absolute; top: 488px; left: 175px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        选粉机<br />
        电流：<input id="v1_B50M_CUN_M" type="text" style="width: 82px" />
        A<br />
        转速：<input id="v1_B50M_SDF" type="text" style="width: 82px" />
        r/min
    </div>
    <div style="position: absolute; top: 674px; left: 451px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        增湿塔<br />
        入口温度：<input id="v1_BTT04_T" type="text" style="width: 82px" />
        ℃<br />
        入口压力：<input id="v1_BPT05_P_M" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v1_BTT05_T" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v1_BPT06_P" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 674px; left: 641px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       电收尘<br />
        入口温度：<input id="v1_B41AC_VOT_M" type="text" style="width: 82px" />
        ℃<br />
        入口压力：<input id="v1_B41AC_CUN_M" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v1_BTE46_T_M" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v1_BPT08_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 674px; left: 260px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       磨机<br />
        进口温度：<input id="v1_BTT01_T_M" type="text" style="width: 82px" />
        ℃<br />
        进口压力：<input id="v1_BPT01_P_M" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v1_BTT02_T_M" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v1_BPT02_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>
</div>
