<div style="position: relative; background-image: url('../../../images/page/ClinkerPreparation_QTXQS.jpg'); width: 835px; height: 800px;">

    <div class="divBorder" style="position: absolute; top: 373px; left: 8px; width: 166px;">
        入窑生料<br />
        流 量：
        <input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="F45AC_FF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input  class="easyui-numberbox" data-options="precision:2" id="F45AC_TOL_M" type="text" style="width:63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 135px; left: 82px; width: 98px;">
        提升机电流：<br />
        &nbsp;<input  class="easyui-numberbox" data-options="precision:2" id="F27M_CUN_M" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 649px; left: 225px; width: 139px;">
        窑主电机<br />
        电流：<input  class="easyui-numberbox" data-options="precision:2" id="F4M_CUN_M" type="text" style="width: 63px" />
        A<br />
        转速：<input  class="easyui-numberbox" data-options="precision:2" id="F4M_SDF_M" type="text" style="width: 63px" />rpm</div>

    <div class="divBorder" style="position: absolute; top: 475px; left: 8px; width: 186px;">
        A1出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="FTT01_T_M" type="text" style="width: 63px" />
        ℃<br />
        A1出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="FPT03_P_M" type="text" style="width: 63px" />
        Pa<br />
        B1出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="FTT02_T_M" type="text" style="width: 63px" />
        ℃<br />
        B1出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="FPT02_P_M" type="text" style="width: 63px" />
        Pa<br />
        A5出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="FTT19_T_M" type="text" style="width: 63px" />
        ℃<br />
        A5出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="FPT17_P_M" type="text" style="width: 63px" />
        Pa<br />
        B5出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="FTT20_T_M" type="text" style="width: 63px" />
        ℃<br />
        B5出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="FPT18_P_M" type="text" style="width:63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 135px; left: 337px; width: 114px;">
        高温风机电流：<br />
        &nbsp;<input  class="easyui-numberbox" data-options="precision:2" id="F30AC_CUN_M" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 213px; left: 470px; width: 142px;">
        窑尾烟室<br />
        温度：<input  class="easyui-numberbox" data-options="precision:2" id="FTT25_T_M" type="text" style="width: 63px" />
        ℃<br />
        压力：<input  class="easyui-numberbox" data-options="precision:2" id="FPT24_P_M" type="text" style="width: 63px" />
        Pa<br />
    </div>
 

    <div class="divBorder" style="position: absolute; top: 695px; left: 9px; width: 172px;">
        二次风温：<input  class="easyui-numberbox" data-options="precision:2" id="GTT01_T_M" type="text" style="width: 63px" />
        ℃<br />
        二次风压：<input  class="easyui-numberbox" data-options="precision:2" id="GPT13_P_M" type="text" style="width: 63px" />
        Pa<br />
        三次风温：<input  class="easyui-numberbox" data-options="precision:2" id="FPT23_T_M" type="text" style="width: 63px" />
        ℃<br />
        三次风压：<input  class="easyui-numberbox" data-options="precision:2" id="FPT23_P_M" type="text" style="width: 63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 724px; left: 225px; width: 179px;">
        分解炉<br />
        出口温度A：<input  class="easyui-numberbox" data-options="precision:2" id="FTT21_T_M" type="text" style="width: 63px" />
        ℃<br />
        出口温度B：<input  class="easyui-numberbox" data-options="precision:2" id="FTT22_T_M" type="text" style="width: 63px" />
        ℃<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 382px; left: 675px; width: 130px;">
        窑头排风机电流：<br />
        &nbsp;&nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="G4M_CUN_M" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 438px; left: 675px; width: 134px; height: 61px;">
        冷却风机电流<br />
        #1：<input  class="easyui-numberbox" data-options="precision:2" id="F6M_CUN_M" type="text" style="width: 63px" />
        A<br />
        #2：<input  class="easyui-numberbox" data-options="precision:2" id="F7M_CUN_M" type="text" style="width: 63px" />
        A<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 517px; left: 675px; width: 129px;">
        熟料破碎机电流：<br />
        &nbsp;&nbsp;
        <input  class="easyui-numberbox" data-options="precision:2" id="G26AC_CUN_M" type="text" style="width: 63px" />
        A
    </div>
</div>
