<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 594px; left: 180px; width: 144px;">
        生料磨主电机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B49M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 467px; left: 180px; width: 129px;">
        入磨提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B29AC_CUN_M" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 492px; left: 396px; width: 103px;">
        提升机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B10M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 492px; left: 584px; width: 103px;">
        提升机电流:<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B4M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 190px; left: 440px; width: 113px;">
        循环风机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B52M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 190px; left: 640px; width: 112px;">
        尾排风机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="B20M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div style="position: absolute; top: 520px; left: 180px; width: 160px;">
        选粉机<br />
        电流：<input  class="easyui-numberbox" data-options="precision:2" id="B50M_CUN_M" type="text" style="width: 63px" />
        A<br />
        转速：<input  class="easyui-numberbox" data-options="precision:2" id="B50M_SDF_M" type="text" style="width: 63px" />
        r/min
    </div>
    <div class="divBorder" style="position: absolute; top: 674px; left: 451px; width: 186px;">
        增湿塔<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="BTT04_T_M" type="text" style="width: 63px" />
        ℃<br />
        入口压力：<input  class="easyui-numberbox" data-options="precision:2" id="BPT05_P_M" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="BTT05_T" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="BPT06_P_M" type="text" style="width:63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 674px; left: 641px; width: 186px;">
        电收尘<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="B41AC_VOT_M" type="text" style="width:63px" />
        ℃<br />
        入口压力：<input  class="easyui-numberbox" data-options="precision:2" id="B41AC_CUN_M" type="text" style="width:63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="BTE46_T_M" type="text" style="width:63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="BPT08_P_M" type="text" style="width:63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 674px; left: 260px; width: 186px;">
        磨机<br />
        进口温度：<input  class="easyui-numberbox" data-options="precision:2" id="BTT01_T_M" type="text" style="width:63px" />
        ℃<br />
        进口压力：<input  class="easyui-numberbox" data-options="precision:2" id="BPT01_P_M" type="text" style="width:63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="BTT02_T_M" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="BPT02_P_M" type="text" style="width: 63px" />
        Pa<br />
    </div>
</div>
