<div style="position: relative; background-image: url('../../../images/page/LimestoneCrushing.jpg'); width: 835px; height: 770px;overflow:hidden;">
    <div>
         <p style="text-align:center;font-size: 30px;">石灰石破碎能耗监控图</p>
    </div>
    <div class="divBorder" style="position: absolute; top: 322px; left: 625px; width: 140px;">
        破碎机<br />
        电流：<input class="easyui-numberbox"  id="Q11M_CUN_M"  style="width: 63px" />
        A<br />
        温度：<input class="easyui-numberbox"  id="QTE09_T_M"  style="width: 63px" />
        ℃
    </div>
    <div class="divBorder" style="position: absolute; top: 400px; left: 625px; width: 140px;">
        给料电流：<br />
        &nbsp;&nbsp;&nbsp;<input class="easyui-numberbox"  id="Q14AC_CUN_M"  style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 599px; left: 606px; width: 82px;">
        <input class="easyui-numberbox"  id="ALT01_L_M"  style="width: 63px" />
        m
    </div>
</div>
