<div style="position: relative; background-image: url('../../../images/page/LimestoneCrushing.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 334px; left: 456px; width: 140px;">
        破碎机<br />
        电流：<input class="easyui-numberbox" data-options="precision:2" id="Q11M_CUN_M" type="text" style="width: 63px" />
        A<br />
        温度：<input class="easyui-numberbox" data-options="precision:2" id="QTE09_T_M" type="text" style="width: 63px" />
        ℃
    </div>
    <div class="divBorder" style="position: absolute; top: 415px; left: 457px; width: 117px;">
        板式给料电流：<br />
&nbsp; <input class="easyui-numberbox" data-options="precision:2" id="Q14AC_CUN_M" type="text" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 665px; left: 563px; width: 82px;">
        <input class="easyui-numberbox" data-options="precision:2" id="ALT01_L_M" type="text" style="width: 63px" />
        m
    </div>
</div>
