<div style="position: relative; background-image: url('../../../images/page/LimestoneCrushing.jpg'); width: 835px; height: 800px;">
    <div style="position: absolute; top: 334px; left: 456px; width: 179px;">
        破碎机<br />
        电流：<input id="Q11M_CUN_M" type="text" style="width: 94px" />
        A<br />
        温度：<input id="QTE09_T_M" type="text" style="width: 94px" />
        ℃
    </div>
    <div style="position: absolute; top: 137px; left: 449px; width: 207px;">
        板式给料电流：<input id="Q14AC_CUN_M" type="text" style="width: 72px" />
        A
    </div>

    <div style="position: absolute; top: 664px; left: 651px; width: 150px;">
        料位：<input id="ALT01_L_M" type="text" style="width: 72px" />
        m
    </div>
</div>
