<div style="position: relative; background-image: url('../../../images/page/CoalPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 458px; left: 172px; width: 79px;">
        <input  class="easyui-numberbox" data-options="precision:2"  class="easyui-numberbox" data-options="precision:2" id="KWT01_W_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 585px; left: 13px; width: 153px;">
        给料机<br />
        流 量:
        <input  class="easyui-numberbox" data-options="precision:2" id="K21AC_FF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量:<input  class="easyui-numberbox" data-options="precision:2" id="K21AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 570px; left: 550px; width: 148px;">
        分解炉喂煤量<br />
        流 量:<input  class="easyui-numberbox" data-options="precision:2" id="K12AC_SDF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量<input  class="easyui-numberbox" data-options="precision:2" id="K12AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>
    <div class="divBorder" style="position: absolute; top: 641px; left: 550px; width: 149px;">
        窑头喂煤量<br />
        流 量:<input  class="easyui-numberbox" data-options="precision:2" id="K11AC_SDF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量<input  class="easyui-numberbox" data-options="precision:2" id="K11AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 676px; left: 368px; width: 139px;">
        煤磨主电机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="K18M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 233px; left: 15px; width: 190px;">
        输送带电流：<input  class="easyui-numberbox" data-options="precision:2" id="K23M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 148px; left: 687px; width: 131px;">
        煤粉通风机电流：<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="K2M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 630px; left: 368px; width: 92px;">
        选粉机频率:<br />
        <input  class="easyui-numberbox" data-options="precision:2" id="K50M_SDF_M" type="text" style="width: 63px" />
        Hz<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 501px; left: 469px; width: 87px;">
        <input  class="easyui-numberbox" data-options="precision:2" id="KTE11_T_M" type="text" style="width: 63px" />
        ℃<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 501px; left: 705px; width: 90px;">
        <input  class="easyui-numberbox" data-options="precision:2" id="KTE12_T_M" type="text" style="width: 63px" />
        ℃<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 98px; left: 494px; width: 172px;">
        电收尘<br />
        入口温度：<input  class="easyui-numberbox" data-options="precision:2" id="KTT03_T_M" type="text" style="width: 63px" />
        ℃<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="KTT10_T_M" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="KPT04_P_M" type="text" style="width: 63px" />
        Pa<br />
    </div>
    <div class="divBorder" style="position: absolute; top: 670px; left: 13px; width: 169px;">
        磨机<br />
        进口温度：<input  class="easyui-numberbox" data-options="precision:2" id="KTT01_T_M" type="text" style="width: 63px" />
        ℃<br />
        进口压力：<input  class="easyui-numberbox" data-options="precision:2" id="KPT01_P_M" type="text" style="width: 63px" />
        Pa<br />
        出口温度：<input  class="easyui-numberbox" data-options="precision:2" id="KTT02_T_M" type="text" style="width: 63px" />
        ℃<br />
        出口压力：<input  class="easyui-numberbox" data-options="precision:2" id="KPT02_P_M" type="text" style="width: 63px" />
        Pa<br />
    </div>

    <div class="divBorder" style="position: absolute; top: 711px; left: 550px; width: 169px;">
        罗茨风机电流<br />
        窑头喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="K16M_CUN_M" type="text" style="width: 63px" />
        A<br />
        窑尾喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="K14M_CUN_M" type="text" style="width: 63px" />
        A<br />
        备用喂煤：<input  class="easyui-numberbox" data-options="precision:2" id="K15M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
</div>
