<div style="position: relative; background-image: url('../../../images/page/CoalPreparation_QTXQS.jpg'); width: 835px; height: 800px;">
    <div style="position: absolute; top: 444px; left: 14px; width: 184px;">
        原煤仓仓重：<input id="v2_KWT01_W_M" type="text" style="width: 70px" />
        t
    </div>

    <div style="position: absolute; top: 469px; left: 14px; width: 173px;">
        &nbsp;给料机<br />
        流 量：
        <input id="v2_K21AC_FF_M" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v2_K21AC_TOL_M" type="text" style="width: 75px" />
        t
    </div>

    <div style="position: absolute; top: 616px; left: 354px; width: 173px;">
        分解炉喂煤量<br />
        流 量：
        <input id="v2_K12AC_SDF_M" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v2_K12AC_TOL_M" type="text" style="width: 75px" />
        t
    </div>
    <div style="position: absolute; top: 617px; left: 652px; width: 173px;">
        窑头喂煤量<br />
        流 量：
        <input id="v2_K11AC_SDF_M" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v2_K11AC_TOL_M" type="text" style="width: 75px" />
        t
    </div>

    <div style="position: absolute; top: 772px; left: 229px; width: 247px;">
        煤磨主电机电流：<input id="v2_K18M_CUN_M" type="text" style="width: 94px" />
        A
    </div>
    <div style="position: absolute; top: 136px; left: 16px; width: 190px;">
        输送带电流：<input id="v2_K23M_CUN_M" type="text" style="width: 72px" />
        A
    </div>
    <div style="position: absolute; top: 160px; left: 607px; width: 215px;">
        煤粉通风机电流：<input id="v2_K2M_CUN_M" type="text" style="width: 69px" />
        A
    </div>
    <div style="position: absolute; top: 636px; left: 13px; width: 202px;">
        选粉机频率：<input id="v2_K50M_SDF_M" type="text" style="width: 82px" />
        Hz<br />
    </div>

    <div style="position: absolute; top: 423px; left: 367px; width: 202px;">
        煤粉仓温度：<input id="v2_KTE11_T_M" type="text" style="width: 82px" />
        ℃<br />
    </div>

    <div style="position: absolute; top: 426px; left: 619px; width: 202px;">
        煤粉仓温度：<input id="v2_KTE12_T_M" type="text" style="width: 82px" />
        ℃<br />
    </div>
    <div style="position: absolute; top: 161px; left: 332px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       电收尘<br />
        入口温度：<input id="v2_KTT03_T" type="text" style="width: 82px" />
        ℃<br />
        出口温度：<input id="v2_KTT10_T" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v2_KPT04_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 688px; left: 10px; width: 186px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       磨机<br />
        进口温度：<input id="v2_KTT01_T_M" type="text" style="width: 82px" />
        ℃<br />
        进口压力：<input id="v2_KPT01_P_M" type="text" style="width: 82px" />
        Pa<br />
        出口温度：<input id="v2_KTT02_T_M" type="text" style="width: 82px" />
        ℃<br />
        出口压力：<input id="v2_KPT02_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>

    <div style="position: absolute; top: 711px; left: 550px; width: 187px;">
        罗茨风机电流<br />
        窑头喂煤：<input id="v2_K16M_CUN_M" type="text" style="width: 69px" />
        A<br />
        窑尾喂煤：<input id="v2_K14M_CUN_M" type="text" style="width: 69px" />
        A<br />
        备用喂煤：<input id="v2_K15M_CUN_M" type="text" style="width: 69px" />
        A
    </div>
</div>
