<div style="position: relative; background-image: url('../../../images/page/RawMealPreparation_QTXQS.jpg'); width: 835px; height: 770px;overflow:hidden;">
    <div style="position: absolute; z-index: 10; margin-left:10px; margin-top: 5px;">当前时间：<span id="timestamp"></span></div>
    <div>
        <p style="text-align: center; font-size: 30px;">2#原料制备能耗监控图</p>
    </div>
    <div class="divBorder" style="position: absolute; top: 512px; left: 177px; width: 167px;">
        主电机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="B49M_CUN_M" style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A002Power" style="width: 63px" />
                    KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 526px; left: 391px; width: 128px;">
        入磨提升机电流：<br />
        &nbsp;<input class="easyui-numberbox" id="B29AC_CUN_M" style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 460px; left: 390px; width: 103px;">
        提升机电流：<br />
        <input class="easyui-numberbox" id="B10M_CUN_M" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 459px; left: 599px; width: 103px;">
        提升机电流:<br />
        <input class="easyui-numberbox" id="B4M_CUN_M" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 114px; left: 430px; width: 148px;">
        循环风机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="B52M_CUN_M" style="width: 63px" />
                    A</td>

            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A001Power" style="width: 63px" />
                    KW</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 114px; left: 673px; width: 148px;">
        尾排风机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="B20M_CUN_M" style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox" id="A004Power" style="width: 63px" />
                    KW</td>
            </tr>
        </table>

    </div>
    <div class="divBorder" style="position: absolute; top: 418px; left: 177px;">
        选粉机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox" id="B50M_CUN_M" style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>转速：</td>
                <td>
                    <input class="easyui-numberbox" id="B50M_SDF_M" style="width: 63px" />
                    r/min</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 637px; left: 420px; width: 186px;">
        增湿塔<br />
        <table style="width: 100%;">
            <tr>
                <td>入口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="BTT04_T_M" style="width: 63px" />
                    ℃</td>

            </tr>
            <tr>
                <td>入口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="BPT05_P_M" style="width: 63px" />
                    Pa</td>

            </tr>
            <tr>
                <td>出口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="BTT05_T" style="width: 63px" />
                    ℃</td>

            </tr>
            <tr>
                <td>出口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="BPT06_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 637px; left: 631px; width: 186px;">
        电收尘<br />
        <table style="width: 100%;">
            <tr>
                <td>入口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="B41AC_VOT_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>入口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="B41AC_CUN_M" style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td>出口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="BTE46_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>出口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="BPT08_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 637px; left: 24px; width: 186px;">
        磨机<br />
        <table style="width: 100%;">
            <tr>
                <td>进口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="BTT01_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>进口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="BPT01_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td>出口温度：</td>
                <td>
                    <input class="easyui-numberbox" id="BTT02_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>出口压力：</td>
                <td>
                    <input class="easyui-numberbox" id="BPT02_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
        </table>
    </div>
</div>
