<div style="position: relative; background-image: url('../../../images/page/overview.jpg'); width: 835px; height: 800px;">
    <div class="divBorder" style="position: absolute; top: 233px; left: 580px; width: 136px;">
        破碎机<br />
        电流：<input class="easyui-numberbox" data-options="precision:2" id="Q11M_CUN_M" type="text" style="width: 63px" />
        A<br />
        温度：<input class="easyui-numberbox" data-options="precision:2" id="QTE09_T_M" type="text" style="width: 63px" />
        ℃
    </div>

    <div class="divBorder" style="position: absolute; top: 301px; left: 149px; width: 128px;">
        煤磨主电机电流：<br />
        &nbsp;
        <input class="easyui-numberbox" data-options="precision:2" id="K18M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 108px; left: 118px; width: 129px;">
        煤粉通风机电流：<br />
        <input class="easyui-numberbox" data-options="precision:2" id="K2M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 549px; left: 555px; width: 166px;">
        入窑生料<br />
        流 量：
        <input class="easyui-numberbox" data-options="precision:2" id="F45AC_FF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量：<input class="easyui-numberbox" data-options="precision:2" id="F45AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 454px; left: 525px; width: 144px;">
        生料磨主电机电流：<br />
        <input class="easyui-numberbox" data-options="precision:2" id="B49M_CUN_M" type="text" style="width: 63px" />
        A
    </div>
    <div class="divBorder" style="position: absolute; top: 271px; left: 315px; width: 113px;">
        循环风机电流：<br />
        &nbsp;
        <input class="easyui-numberbox" data-options="precision:2" id="B52M_CUN_M" type="text" style="width: 63px" />
        A  
        <br />
        尾排风机电流：<br />
        &nbsp;
        <input class="easyui-numberbox" data-options="precision:2" id="B20M_CUN_M" type="text" style="width: 63px" />
        A
    </div>


    <div class="divBorder" style="position: absolute; top: 731px; left: 361px; width: 139px;">
        窑主电机<br />
        电流：<input class="easyui-numberbox" data-options="precision:2" id="F4M_CUN_M" type="text" style="width: 63px" />
        A<br />
        转速：<input class="easyui-numberbox" data-options="precision:2" id="F4M_SDF_M" type="text" style="width: 63px" />rpm
    </div>
    <div class="divBorder" style="position: absolute; top: 522px; left: 22px; width: 130px;">
        窑头排风机电流：<br />
        <input class="easyui-numberbox" data-options="precision:2" id="G4M_CUN_M" type="text" style="width: 63px" />
        A<br />
        高温风机电流：<br />
        <input class="easyui-numberbox" data-options="precision:2" id="F30AC_CUN_M" type="text" style="width: 63px" />
        A
    </div>


    <div class="divBorder" style="position: absolute; top: 668px; left: 203px; width: 148px;">
        分解炉喂煤量<br />
        流 量:<input class="easyui-numberbox" data-options="precision:2" id="K12AC_SDF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量<input class="easyui-numberbox" data-options="precision:2" id="K12AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>
    <div class="divBorder" style="position: absolute; top: 733px; left: 203px; width: 149px;">
        窑头喂煤量<br />
        流 量:<input class="easyui-numberbox" data-options="precision:2" id="K11AC_SDF_M" type="text" style="width: 63px" />
        t/h<br />
        累计量<input class="easyui-numberbox" data-options="precision:2" id="K11AC_TOL_M" type="text" style="width: 63px" />
        t
    </div>

    <div class="divBorder" style="position: absolute; top: 708px; left: 6px; width: 186px;">
        A1出口温度：<input class="easyui-numberbox" data-options="precision:2" id="FTT01_T_M" type="text" style="width: 63px" />
        ℃<br />
        A1出口压力：<input class="easyui-numberbox" data-options="precision:2" id="FPT03_P_M" type="text" style="width: 63px" />
        Pa<br />
        A5出口温度：<input class="easyui-numberbox" data-options="precision:2" id="FTT19_T_M" type="text" style="width: 63px" />
        ℃<br />
        A5出口压力：<input class="easyui-numberbox" data-options="precision:2" id="FPT17_P_M" type="text" style="width: 63px" />
        Pa<br />

    </div>
    <div class="divBorder" style="position: absolute; top: 623px; left: 553px; width: 246px;">
        
         <table style="width:220px;border:0px;margin:0px;padding:0px;border-collapse:collapse;">
                <tr>
                    <td colspan="2" style="font-size:25px;text-align:center;">2#熟料线</td>
                </tr>
                <tr style="font-size:14px;">
                    <td style="width:45%;">总功率:</td>
                    <td>
                        <input class="easyui-numberbox" data-options="precision:2" id="Text8" type="text" style="width: 63px" /> KW
                    </td>
                </tr>
                 <tr style="font-size:14px;">
                    <td>生料磨电耗:</td>
                    <td>
                        <input class="easyui-numberbox" data-options="precision:2" id="Text9" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
               
                <tr style="font-size:14px;">
                    <td >煤磨电耗:</td>
                    <td>
                       <input class="easyui-numberbox" data-options="precision:2" id="Text10" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                <tr style="font-size:14px;">
                    <td >熟料综合电耗:</td>
                    <td>
                        <input class="easyui-numberbox" data-options="precision:2" id="Text11" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                 <tr style="font-size:14px;">
                    <td>熟料综合煤耗:</td>
                    <td>
                       <input class="easyui-numberbox" data-options="precision:2" id="Text12" type="text" style="width: 63px" />Kwh/t
                    </td>
                </tr>
                
                 <tr style="font-size:14px;">
                    <td >余热发电功率:</td>
                    <td>
                       <input class="easyui-numberbox" data-options="precision:2" id="Text13" type="text" style="width: 63px" />MW
                    </td>
                </tr>
           </table>
    </div>

</div>
