<div style="position: relative; background-image: url('../../../images/page/ClinkerPreparation_QTXQS.jpg'); width: 835px; height: 800px;">

    <div style="position: absolute; top: 89px; left: 84px; width: 173px;">
        &nbsp;入窑生料<br />
        流 量：
        <input id="v3_F45AC_FF_M" type="text" style="width: 75px" />
        t/h<br />
        累计量：<input id="v3_F45AC_TOL_M" type="text" style="width: 75px" />
        t
    </div>

    <div style="position: absolute; top: 154px; left: 83px; width: 189px;">
        提升机电流：<input id="v3_F27M_CUN_M" type="text" style="width: 72px" />
        A
    </div>

    <div style="position: absolute; top: 645px; left: 253px; width: 235px;">
        窑主电机电流：<input id="v3_F4M_CUN_M" type="text" style="width: 94px" />
        A
    </div>

    <div style="position: absolute; top: 396px; left: 5px; width: 203px;">
        A1出口温度：<input id="v3_FTT01_T_M" type="text" style="width: 82px" />
        ℃<br />
        A1出口压力：<input id="v3_FPT03_P_M" type="text" style="width: 82px" />
        Pa<br />
        B1出口温度：<input id="v3_FTT02_T_M" type="text" style="width: 82px" />
        ℃<br />
        B1出口压力：<input id="v3_FPT02_P_M" type="text" style="width: 82px" />
        Pa<br />
        A5出口温度：<input id="v3_FTT19_T_M" type="text" style="width: 82px" />
        ℃<br />
        A5出口压力：<input id="v3_FPT17_P_M" type="text" style="width: 82px" />
        Pa<br />
        B5出口温度：<input id="v3_FTT20_T_M" type="text" style="width: 82px" />
        ℃<br />
        B5出口压力：<input id="v3_FPT18_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>

    <div style="position: absolute; top: 155px; left: 304px; width: 215px;">
        高温风机电流：<input id="v3_F30AC_CUN_M" type="text" style="width: 69px" />
        A
    </div>

    <div style="position: absolute; top: 721px; left: 276px; width: 217px;">
        窑尾烟室温度：<input id="v3_FTT25_T_M" type="text" style="width: 74px" />
        ℃<br />
        窑尾烟室压力：<input id="v3_FPT24_P_M" type="text" style="width: 73px" />
        Pa<br />
    </div>
    <div style="position: absolute; top: 678px; left: 253px; width: 215px;">
        窑转速：<input id="v3_F4M_SDF_M" type="text" style="width: 69px" />
        rpm
    </div>

    <div style="position: absolute; top: 626px; left: 6px; width: 204px;">
        二次风温：<input id="v3_GPT13_P" type="text" style="width: 82px" />
        ℃<br />
        二次风压：<input id="v3_GTT01_T" type="text" style="width: 82px" />
        Pa<br />
        三次风温：<input id="v3_FPT23_T_M" type="text" style="width: 82px" />
        ℃<br />
        三次风压：<input id="v3_FPT23_P_M" type="text" style="width: 82px" />
        Pa<br />
    </div>

    <div style="position: absolute; top: 720px; left: 5px; width: 254px;">
        分解炉出口温度A：<input id="v3_FTT21_T_M" type="text" style="width: 82px" />
        ℃<br />
        分解炉出口温度B：<input id="v3_FTT22_T_M" type="text" style="width: 82px" />
        Pa<br />
    </div>

    <div style="position: absolute; top: 380px; left: 601px; width: 215px;">
        窑头排风机电流：<input id="v3_G4M_CUN_M" type="text" style="width: 69px" />
        A
    </div>

    <div style="position: absolute; top: 465px; left: 670px; width: 134px; height: 61px;">
        冷却风机电流<br />
        #1：<input id="v3_F6M_CUN" type="text" style="width: 69px" />
        A<br />
        #2：<input id="v3_F7M_CUN" type="text" style="width: 69px" />
        A<br />
    </div>
    <div style="position: absolute; top: 758px; left: 561px; width: 215px;">
        熟料破碎机电流：<input id="v3_G26AC_CUN" type="text" style="width: 69px" />
        A
    </div>
</div>
