<div style="position: relative; background-image: url('../../../images/page/ClinkerPreparation_QTXQS.jpg'); width: 835px; height: 770px;overflow:hidden;">
    <div>
        <p style="text-align: center; font-size: 30px;">2#熟料制备能耗监控图</p>
    </div>
    &nbsp;<div class="divBorder" style="position: absolute; top: 107px; left: 631px;">
        &nbsp;
        <table style="width: 100%;">
            <tr><td>入窑生料</td></tr>
            <tr>
                <td style="text-align: left">流  量：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="F45AC_FF_M"  style="width: 63px" />
                    t/h</td>
            </tr>
             <tr>
                <td style="text-align: left">累计量：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="F45AC_TOL_M"  style="width: 63px" />
                    t</td>
            </tr>
            </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 445px; left: 14px; ">
          <table style="width: 100%;">
           
            <tr>
                <td style="text-align: left" class="auto-style1">A1出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FTT01_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">A1出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FPT03_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">B1出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FTT02_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">B1出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FPT02_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">A5出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FTT19_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">A5出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FPT17_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">B5出口温度：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FTT20_T_M" style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td style="text-align: left" class="auto-style1">B5出口压力：</td>
                <td style="text-align: left">
                    <input class="easyui-numberbox"  id="FPT18_P_M" style="width: 63px" />
                    Pa</td>
            </tr>
             <tr>
                <td>二次风温：</td>
                <td>
                    <input class="easyui-numberbox"  id="GTT01_T_M"  style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>二次风压：</td>
                <td>
                    <input class="easyui-numberbox"  id="GPT13_P_M"  style="width: 63px" />
                    Pa</td>
            </tr>
            <tr>
                <td>三次风温：</td>
                <td>
                    <input class="easyui-numberbox"  id="FPT23_T_M"  style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>三次风压：</td>
                <td>
                    <input class="easyui-numberbox"  id="FPT23_P_M"  style="width: 63px" />
                    Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 137px; left: 102px; width: 97px;">
        提升机电流：<br />
        <input class="easyui-numberbox"  id="F27M_CUN_M"  style="width: 63px" />
        A
    </div>

    <div class="divBorder" style="position: absolute; top: 593px; left: 255px; width: 157px;">
        窑主电机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox"  id="F4M_CUN_M"  style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>转速：</td>
                <td>
                    <input class="easyui-numberbox"  id="F4M_SDF_M"  style="width: 63px" />rpm</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 111px; left: 439px; ">
        高温风机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流：</td>
                <td>
                    <input class="easyui-numberbox"  id="F30AC_CUN_M"  style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>功率：</td>
                <td>
                    <input class="easyui-numberbox"  id="A005Power"  style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 680px; left: 438px; width: 157px;">
        窑尾烟室<br />
        <table style="width: 100%;">
            <tr>
                <td>温度：</td>
                <td>
                    <input class="easyui-numberbox"  id="FTT25_T_M"  style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>压力：</td>
                <td>
                    <input class="easyui-numberbox"  id="FPT24_P_M"  style="width: 63px" />
                    Pa</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 678px; left: 255px; width: 157px;">
        分解炉出口<br />
        <table style="width: 100%;">
            <tr>
                <td>温度A：</td>
                <td>
                    <input class="easyui-numberbox"  id="FTT21_T_M"  style="width: 63px" />
                    ℃</td>
            </tr>
            <tr>
                <td>温度B：</td>
                <td>
                    <input class="easyui-numberbox"  id="FTT22_T_M"  style="width: 63px" />
                    ℃</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 382px; left: 678px; width: 134px;">
        窑头排风机<br />
        <table style="width: 100%;">
            <tr>
                <td>电流:</td>
                <td>
                    <input class="easyui-numberbox"  id="G4M_CUN_M"  style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>功率:</td>
                <td>
                    <input class="easyui-numberbox"  id="A006Power"  style="width: 63px" />KW</td>
            </tr>
        </table>
    </div>

    <div class="divBorder" style="position: absolute; top: 482px; left: 690px; width: 122px; height: 61px;">
        冷却风机电流<br />
        <table style="width: 100%;">
            <tr>
                <td>#1：</td>
                <td>
                    <input class="easyui-numberbox"  id="F6M_CUN_M"  style="width: 63px" />
                    A</td>
            </tr>
            <tr>
                <td>#2：</td>
                <td>
                    <input class="easyui-numberbox"  id="F7M_CUN_M"  style="width: 63px" />
                    A</td>
            </tr>
        </table>
    </div>
    <div class="divBorder" style="position: absolute; top: 704px; left: 622px; width: 157px;">
        熟料破碎机电流：<br />
        <input class="easyui-numberbox"  id="G26AC_CUN_M"  style="width: 63px" />
        A
    </div>
</div>
